{
  "openapi": "3.0.0",
  "info": {
    "title": "Company and Document Management API",
    "version": "1.0.0",
    "description": "API for managing companies, documents, products, and payments"
  },
  "servers": [
    {
      "url": "https://api-billing.koywe.com/V1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "Authenticate and receive a bearer token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "summary": "Create a new account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountsPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Your account is successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid input or validation error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid or expired token"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "summary": "Get a specific account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Account ID to read"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponseGet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid input or validation error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documents": {
      "get": {
        "summary": "Get a paginated list of documents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "issue_date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter from this date (inclusive). Format AAAA-MM-DD"
            }
          },
          {
            "name": "issue_date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter to this date (inclusive). Format AAAA-MM-DD"
            }
          },
          {
            "name": "taxbureau_sending_status",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "0 = Sending. 1XX = Retrying sending. 2XX = Rejected by Tax Bureau. 1 = Received by Tax Bureau. 2 = Closed without sending. 3 = Imported from another system. "
            }
          },
          {
            "name": "taxbureau_validation_status",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "0,1 = In process. 2 = Rejected by tax bureau. 3 = Accepted by tax bureau. 4 = Accepted by tax bureau with warnings."
            }
          },
          {
            "name": "document_number",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Document number"
            }
          },
          {
            "name": "document_type_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "description" : "Document type ID according to the country"
            }
          },
          {
            "name": "received_issued_flag",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "0 = issued, 1 = received"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string"
                        },
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SimplifiedDocument"
                      }
                    },
                    "page_count": {
                      "type": "integer"
                    },
                    "page_size": {
                      "type": "integer"
                    },
                    "total_items": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a new document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentPost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid document type ID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid or expired token"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/documents/{document_id}": {
      "get": {
        "summary": "Get a specific document",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update a specific document",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update a signed document"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a specific document",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document deleted successfully"
          },
          "400": {
            "description": "Cannot delete a signed document"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/inbox_documents": {
      "get": {
        "summary": "Get a paginated list of received documents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "issuer_tax_id_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiver_tax_id_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiver_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issuer_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount_lte",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "amount_gte",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "document_type_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InboxDocument"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/inbox_documents/{inbox_document_id}": {
      "get": {
        "summary": "Get a specific received document",
        "parameters": [
          {
            "name": "inbox_document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxDocument"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Accept or reject a document",
        "parameters": [
          {
            "name": "inbox_document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document_status": {
                    "type": "string",
                    "enum": ["accepted", "rejected"]
                  }
                },
                "required": ["document_status"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status or document not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/digital_certificate_issuance/{certificate_issuance_id}": {
      "get": {
        "summary": "Get a specific digital certificate link",
        "parameters": [
          {
            "name": "certificate_issuance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Certificate ID of the created link"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Digital_certificate_issuanceResponseGet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid input or validation error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/digital_certificate_issuance": {
      "post": {
        "summary": "Create a new digital certificate link",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Digital_certificate_issuancePost"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Digital certificate link successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Digital_certificate_issuanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid input or validation error"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid or expired token"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/payments": {
      "post": {
        "summary": "Create a new payment",
        "description": "Creates a new payment with the given details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created successfully"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/payments/{payment_id}": {
      "get": {
        "summary": "Get a specific payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Payment ID of the created payment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponseGet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid input or validation error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/products": {
      "post": {
        "summary": "Creates a new product",
        "description": "Adds a new product with the provided details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "invoicing_details": { "type": "string" },
                  "additional_details": { "type": "string" },
                  "model": { "type": "string" },
                  "brand": { "type": "string" },
                  "status": { "type": "integer" },
                  "sku": { "type": "string" },
                  "barcode": { "type": "string" },
                  "measure_unit": { "type": "string" },
                  "type": { "type": "integer" },
                  "embedded_quantity_barcode": { "type": "integer" },
                  "embedded_quantity_barcode_decimals": { "type": "integer" },
                  "additional_data_1": { "type": "string" },
                  "additional_data_2": { "type": "string" },
                  "additional_data_3": { "type": "string" },
                  "favorite": { "type": "integer" },
                  "product_category_id": { "type": "integer" },
                  "cost": {
                    "type": "object",
                    "properties": {
                      "currency_id": { "type": "integer" },
                      "value": { "type": "number" }
                    }
                  },
                  "price": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "price_list_id": { "type": "integer" },
                        "unit_price": { "type": "number" },
                        "unit_tax": { "type": "number" },
                        "unit_total": { "type": "number" },
                        "currency_id": { "type": "integer" },
                        "comission_amount": { "type": "number" },
                        "taxes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tax_type_id": { "type": "string" },
                              "tax_percentage": { "type": "number" },
                              "tax_amount": { "type": "number" }
                            }
                          }
                        }
                      }
                    }
                  },
                  "inventories": {
                    "type": "object",
                    "properties": {
                      "total_available": {
                        "type": "number"
                      },
                      "total_reserved": {
                        "type": "number"
                      },
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "product_location_id": {
                              "type": "string"
                            },
                            "available_quantity": {
                              "type": "number"
                            },
                            "reserved_quantity": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": ["name", "status", "product_category_id", "cost", "price"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully."
          }
        }
      },
      "get": {
        "summary": "Lists all products",
        "description": "Retrieves a list of all products, with optional search parameters.",
        "parameters": [
          {
            "name": "product_category_id",
            "in": "query",
            "description": "Filter by product category ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "description": "Filter by SKU.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by product name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by product type.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Filter by model.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter by brand.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status. If not sent, it will only present products with status = 1.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "additional_data_1",
            "in": "query",
            "description": "Filter by additional data 1.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional_data_2",
            "in": "query",
            "description": "Filter by additional data 2.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additional_data_3",
            "in": "query",
            "description": "Filter by additional data 3.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "barcode",
            "in": "query",
            "description": "Filter by barcode.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_id": { "type": "integer" },
                      "name": { "type": "string" },
                      "status": { "type": "integer" },
                      "product_category_id": { "type": "integer" },
                      "type": { "type": "string" },
                      "sku": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "summary": "Retrieves a specific product",
        "description": "Fetches details of a product by its ID.",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specified product.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_id": { "type": "integer" },
                    "name": { "type": "string" },
                    "invoicing_details": { "type": "string" },
                    "additional_details": { "type": "string" },
                    "model": { "type": "string" },
                    "brand": { "type": "string" },
                    "status": { "type": "integer" },
                    "sku": { "type": "string" },
                    "barcode": { "type": "string" },
                    "measure_unit": { "type": "string" },
                    "type": { "type": "integer" },
                    "embedded_quantity_barcode": { "type": "integer" },
                    "embedded_quantity_barcode_decimals": { "type": "integer" },
                    "additional_data_1": { "type": "string" },
                    "additional_data_2": { "type": "string" },
                    "additional_data_3": { "type": "string" },
                    "favorite": { "type": "integer" },
                    "product_category_id": { "type": "integer" },
                    "cost": {
                      "type": "object",
                      "properties": {
                        "currency_id": { "type": "integer" },
                        "value": { "type": "number" }
                      }
                    },
                    "price": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price_list_id": { "type": "integer" },
                          "unit_price": { "type": "number" },
                          "unit_tax": { "type": "number" },
                          "unit_total": { "type": "number" },
                          "currency_id": { "type": "integer" },
                          "comission_amount": { "type": "number" },
                          "taxes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "tax_type_id": { "type": "string" },
                                "tax_percentage": { "type": "number" },
                                "tax_amount": { "type": "number" }
                              }
                            }
                          }
                        }
                      }
                    },
                    "inventories": {
                      "type": "object",
                      "properties": {
                        "total_available": {
                          "type": "number"
                        },
                        "total_reserved": {
                          "type": "number"
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "product_location_id": {
                                "type": "string"
                              },
                              "available_quantity": {
                                "type": "number"
                              },
                              "reserved_quantity": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update product",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "sku": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {

              }
            }
          },
          "400": {
            "description": "Invalid data or product not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Deletes a specific product",
        "description": "Removes a product identified by its ID.",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted successfully."
          }
        }
      }
    },
    "/product_price_lists": {
      "post": {
        "summary": "Creates a new product price list",
        "description": "Creates a new product price list with the given details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the products price list."
                  }
                },
                "required": ["product_price_list_id", "name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products price list created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_price_list_id": {
                      "type": "integer",
                      "description": "Unique identifier for the newly created products price list."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the newly created products price list."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieves all products price lists",
        "description": "Returns a list of all products price lists.",
        "responses": {
          "200": {
            "description": "A list of products price lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_price_list_id": {
                        "type": "integer",
                        "description": "Unique identifier for a products price list."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the products price list."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product_price_lists/{product_price_list_id}": {
      "get": {
        "summary": "Retrieves a specific products price list",
        "description": "Fetches details of a products price list by its ID.",
        "parameters": [
          {
            "name": "product_price_list_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the products price list.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specified products price list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_price_list_id": {
                      "type": "integer",
                      "description": "Unique identifier for the products price list."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the products price list."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update product price list",
        "parameters": [
          {
            "name": "product_price_list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product price list updated successfully",
            "content": {
              "application/json": {

              }
            }
          },
          "400": {
            "description": "Invalid data or product price list not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Deletes a specific products price list",
        "description": "Removes a products price list identified by its ID.",
        "parameters": [
          {
            "name": "product_price_list_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the products price list to delete.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Products price list deleted successfully."
          }
        }
      }
    },
    "/product_locations": {
      "post": {
        "summary": "Creates a new product location",
        "description": "Creates a new product location with the given details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the product location."
                  },
                  "status": {
                    "type": "integer",
                    "description": "Status of the product location."
                  },
                  "company_branch_id": {
                    "type": "integer",
                    "description": "Identifier for the company branch associated with the product location."
                  }
                },
                "required": [ "name", "status", "company_branch_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product location created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_location_id": {
                      "type": "integer",
                      "description": "Unique identifier for the newly created product location."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the newly created product location."
                    },
                    "status": {
                      "type": "integer",
                      "description": "Status of the newly created product location."
                    },
                    "company_branch_id": {
                      "type": "integer",
                      "description": "Identifier for the company branch associated with the newly created product location."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieves all product locations",
        "description": "Returns a list of all product locations.",
        "responses": {
          "200": {
            "description": "A list of product locations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_location_id": {
                        "type": "integer",
                        "description": "Unique identifier for the product location."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the product location."
                      },
                      "status": {
                        "type": "integer",
                        "description": "Status of the product location."
                      },
                      "company_branch_id": {
                        "type": "integer",
                        "description": "Identifier for the company branch associated with the product location."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product_locations/{product_location_id}": {
      "get": {
        "summary": "Retrieves a specific Product location",
        "description": "Returns the details of a product location.",
        "responses": {
          "200": {
            "description": "The detail of a product location.",
            "content": {
              "application/json": {
                "schema": {
                    "type": "object",
                    "properties": {
                      "product_location_id": {
                        "type": "integer",
                        "description": "Unique identifier for the product location."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the product location."
                      },
                      "status": {
                        "type": "integer",
                        "description": "Status of the product location."
                      },
                      "company_branch_id": {
                        "type": "integer",
                        "description": "Identifier for the company branch associated with the product location."
                      }
                    }
                  }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update product location",
        "parameters": [
          {
            "name": "product_location_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "company_branch_id": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
          },
        "responses": {
          "200": {
            "description": "Product location updated successfully",
            "content": {
              "application/json": {

              }
            }
          },
          "400": {
            "description": "Invalid data or product location not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
        },
      "delete": {
        "summary": "Deletes a specific products location",
        "description": "Removes a products location identified by its ID.",
        "parameters": [
          {
            "name": "product_location_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the products location to delete.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Products location deleted successfully."
          }
        }
      }
    },
    "/product_categories": {
      "post": {
        "summary": "Creates a new product category",
        "description": "Creates a new product category with the given details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the product category."
                  },
                  "parent_product_category_id": {
                    "type": "integer",
                    "description": "Identifier of the parent category. null if there is no parent category."
                  }
                },
                "required": [ "name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product category created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_category_id": {
                      "type": "string",
                      "description": "Unique identifier for the newly created product category."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the newly created product category."
                    },
                    "parent_product_category_id": {
                      "type": "string",
                      "description": "Identifier for the parent category. null if there is no parent category."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieves all product categories",
        "description": "Returns a list of all product categories.",
        "responses": {
          "200": {
            "description": "A list of product categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_category_id": {
                        "type": "string",
                        "description": "Unique identifier for the product category."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the product category."
                      },
                      "parent_product_category_id": {
                        "type": "integer",
                        "description": "Identifier for the parent category. null if no parent."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product_categories/{product_category_id}": {
      "get": {
        "summary": "Retrieves a specific product category",
        "description": "Returns the details of a product category.",
        "responses": {
          "200": {
            "description": "The detail of a product category.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_category_id": {
                      "type": "integer",
                      "description": "Unique identifier for the product category."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the product category."
                    },
                    "parent_product_category_id": {
                      "type": "integer",
                      "description": "Identifier for the parent category. null if no parent."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update product category",
        "parameters": [
          {
            "name": "product_category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_product_category_id": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product category updated successfully",
            "content": {
              "application/json": {

              }
            }
          },
          "400": {
            "description": "Invalid data or product category not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Deletes a specific products category",
        "description": "Removes a products category identified by its ID.",
        "parameters": [
          {
            "name": "product_category_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the products category to delete.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Products category deleted successfully."
          }
        }
      }
    }
  },
"components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "Use the text 'password' for password type grant",
            "example": "password"
          },
          "client_id": {
            "type": "string",
            "description": ""
          },
          "client_secret": {
            "type": "string"
          },
          "username": {
            "type": "string",
            "description": "API username, not be confused with your website username"
          },
          "password": {
            "type": "string",
            "description": "API password, not be confused with your website password"
          }
        },
        "required": ["grant_type", "client_id", "client_secret", "username", "password"]
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "token_type": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "basic_info": {
            "$ref": "#/components/schemas/Company/properties/basic_info"
          },
          "tax_id_type": {
            "type": "string"
          },
          "tax_id_code": {
            "type": "string"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "basic_info": {
            "type": "object",
            "properties": {
              "company_id": {
                "type": "string",
                "description": "Read only. Company ID",
                "example": "comp-123456"
              },
              "name": {
                "type": "string",
                "description": "Internal name of the company",
                "example": "Acme Corporation"
              }
            },
            "required": ["name"]
          },
          "billing_data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company_billing_id": {
                  "type": "string",
                  "description": "Read only. ID of this specific billing information to be used when issuing documents",
                  "example": "bill-987654"
                },
                "tax_id_type": {
                  "type": "string",
                  "description": "Tax ID type according to tax ID table. If not entered, you won't be able to use this billing_data for invoices and documents that require it",
                  "example": "VAT"
                },
                "tax_id_code": {
                  "type": "string",
                  "description": "Tax ID code",
                  "example": "US123456789"
                },
                "legal_name": {
                  "type": "string",
                  "description": "Full name or business name",
                  "example": "Acme Corporation LLC"
                },
                "address_street": {
                  "type": "string",
                  "description": "Street address",
                  "example": "123 Main St"
                },
                "address_number": {
                  "type": "number",
                  "description": "Street number",
                  "example": 123
                },
                "address_unit_number": {
                  "type": "string",
                  "description": "Street unit number",
                  "example": "Suite 400"
                },
                "address_district": {
                  "type": "string",
                  "description": "District, county, or commune",
                  "example": "Downtown"
                },
                "address_city": {
                  "type": "string",
                  "description": "City name",
                  "example": "New York"
                },
                "address_postalcode": {
                  "type": "string",
                  "description": "Postal code",
                  "example": "10001"
                },
                "country_id": {
                  "type": "string",
                  "description": "Country ID according to ID table",
                  "example": "US"
                }
              },
              "required": [
                "legal_name",
                "address_street",
                "address_number",
                "address_unit_number",
                "address_district",
                "address_city",
                "address_postalcode",
                "country_id"
              ]
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company_contact_id": {
                  "type": "string",
                  "description": "Read only. ID of this specific contact"
                },
                "first_name": {
                  "type": "string",
                  "description": "First name"
                },
                "middle_name": {
                  "type": "string",
                  "description": "Middle name"
                },
                "last_name_primary": {
                  "type": "string",
                  "description": "Last name or first last name"
                },
                "last_name_secondary": {
                  "type": "string",
                  "description": "Second last name"
                },
                "phone": {
                  "type": "number",
                  "description": "Phone number"
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Email address"
                }
              },
              "required": ["first_name"]
            }
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "country_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "iso_code_2": {
            "type": "string"
          },
          "iso_code_3": {
            "type": "string"
          },
          "flag_icon_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": ["country_id", "name", "iso_code_2", "iso_code_3", "flag_icon_url"]
      },
      "PaymentInfo": {
        "type": "object",
        "properties": {
          "tax_id_code": {
            "type": "string"
          },
          "tax_id_type": {
            "type": "string"
          },
          "legalname": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "address": {
                  "type": "string"
                },
                "district": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                }
              }
            }
          },
          "activities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "line_code": {
                  "type": "string"
                },
                "line_description": {
                  "type": "string"
                },
                "subline_code": {
                  "type": "string"
                },
                "subline_description": {
                  "type": "string"
                },
                "activity_code": {
                  "type": "string"
                },
                "activity_description": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": ["tax_id_code", "tax_id_type", "legalname"]
      },
      "Contacts": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "company_contact_id": {
              "type": "string"
            },
            "first_name": {
              "type": "string"
            },
            "middle_name": {
              "type": "string"
            },
            "last_name_primary": {
              "type": "string"
            },
            "last_name_secondary": {
              "type": "string"
            },
            "phone": {
              "type": "string"
            },
            "email": {
              "type": "string",
              "format": "email"
            }
          },
          "required": ["company_contact_id", "first_name", "last_name_primary", "phone", "email"]
        }
      },
      "InboxDocument": {
        "type": "object",
        "properties": {
          "inbox_document_id": {
            "type": "number",
            "description": "Inbox document ID."
          },
          "email_subject": {
            "type": "string",
            "description": "The subject line of the email."
          },
          "sender_email": {
            "type": "string",
            "description": "The email address of the sender."
          },
          "document_date": {
            "type": "string",
            "format": "date",
            "description": "The date when the document was created or issued."
          },
          "receive_date": {
            "type": "string",
            "format": "date",
            "description": "The date when the document was received."
          },
          "inbox_document_status": {
            "type": "number",
            "description": "The current status of the document in the inbox."
          },
          "document_id": {
            "type": "number",
            "description": "The identifier assigned to the created document."
          },
          "issuer_name": {
            "type": "string",
            "description": "Issuer name."
          },
          "issuer_tax_id_code": {
            "type": "string",
            "description": "Tax ID code according to tax id table. Required when the document requires the receiver to be specified."
          },
          "issuer_tax_id_type": {
            "type": "string",
            "description": "Tax ID type according to tax id table. Required when the document requires the receiver to be specified."
          },
          "document_type_id": {
            "type": "number",
            "description": "Document type ID according to document type table."
          },
          "document_type_taxbureau": {
            "type": "string",
            "description": "Type of document at the tax bureau."
          },
          "document_number": {
            "type": "number",
            "description": "A unique number assigned to the document."
          },
          "account_id": {
            "type": "number",
            "description": "Account ID."
          },
          "purchase_order": {
            "type": "string",
            "description": "The identifier for the purchase order."
          },
          "reception_confirmation_status": {
            "type": "number",
            "description": "Indicates the status of the reception confirmation for the document."
          },
          "reception_confirmation_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date when the reception of the document was confirmed."
          },
          "receiver_tax_id_code": {
            "type": "string",
            "description": "The tax identification code of the document receiver."
          },
          "receiver_tax_id_type": {
            "type": "string",
            "description": "Tax ID type according to tax id table. Required when the document requires the receiver to be specified."
          },
          "document_approval_status": {
            "type": "number",
            "description": "Indicates the current approval status of the document."
          },
          "document_approval_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date on which the document was approved."
          },
          "product_receipt_status": {
            "type": "number",
            "description": "Indicates the current status of the product receipt."
          },
          "product_receipt_date": {
            "type": "string",
            "format": "date-time",
            "description": "The date on which the product was received."
          },
          "product_receipt_location": {
            "type": "string",
            "description": "The location where the product was received."
          },
          "net_amount": {
            "type": "string",
            "description": "Total of all net values from each of the detail lines."
          },
          "total_amount": {
            "type": "string",
            "description": "Document grand total"
          },
          "document_xml": {
            "type": "string",
            "description": "Base64 encoded XML"
          },
          "document_pdf": {
            "type": "string",
            "description": "Base64 encoded PDF"
          }
        }
      },
      "SimplifiedDocument": {
        "type": "object",
        "properties": {
          "document_id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "taxbureau_sending_status": {
            "type": "string"
          },
          "taxbureau_validation_status": {
            "type": "string"
          },
          "issue_date": {
            "type": "string",
            "format": "date"
          },
          "document_number": {
            "type": "string"
          },
          "document_type_id": {
            "type": "string"
          },
          "issuer_tax_id_code": {
            "type": "string"
          },
          "issuer_tax_id_type": {
            "type": "string"
          },
          "receiver_tax_id_code": {
            "type": "string"
          },
          "receiver_tax_id_type": {
            "type": "string"
          },
          "document_status": {
            "type": "number"
          },
          "currency_id": {
            "type": "number"
          },
          "received_issued_flag": {
            "type": "number"
          },
          "net_amount": {
            "type": "string"
          },
          "taxes_amount": {
            "type": "string"
          },
          "total_amount": {
            "type": "string"
          },
          "document_type_taxbureau": {
            "type": "string"
          }
        }
      },
      "DocumentPost": {
        "type": "object",
        "properties": {
          "options": {
            "type": "object",
            "x-order": 1,
            "properties": {
              "template_id": {
                "type": "integer",
                "description": "It corresponds to the ID of the print template for the document. If not provided, the default template will be used. If provided and the template is not found, the default template will be used.",
                "example": "1"
              },
              "gross_values": {
                "type": "integer",
                "description": "This field is only valid for electronic receipts (document_type_id = 39, Chile) and allows the values to be entered as gross amounts (including VAT) for the line items, with the total being directly calculated as the multiplication of the item prices by the quantities. The total calculated in this way will be slightly different from the one obtained by rounding the net amounts and calculating VAT on the net total. The amounts will be adjusted and saved as net values in Koywe, but respecting the rounding applied to the gross amounts.",
                "example": "1"
              },
              "rounding_type": {
                "type": "string",
                "description": "You can input values as “net” or “gross”.\nRounding on gross values will calculate the total value for each line including VAT, and then adjust the document's VAT totals to match the final amount.\nRounding on net values will calculate the multiplications of net values line by line, and then apply the VAT to the total net amount to get the VAT and the total.",
                "example": "net"
              },
              "company_web": {
                "type": "string",
                "description": "You can enter a website URL, which will replace the one registered in the Koywe account data and will be reflected in the automatic email sent to the recipient. It must start with http:// or https://.",
                "example": "https://www.company.com/"
              },
              "company_email": {
                "type": "string",
                "description": "You can enter an email, which will replace the one registered in the Koywe account data and will be reflected in the automatic email sent to the document recipient.",
                "example": "email@email.com"
              }
            }
          },
          "header": {
            "type": "object",
            "x-order": 2,
            "properties": {
              "document_type_id": {
                "type": "integer",
                "description": "Document type ID according to document type table. \nChile :\n2 = Factura electrónica\n32 = Factura exenta electrónica\n37 = Boleta electrónica\n41 = Boleta exenta electrónica\n54 = Guía de despacho electrónica\n17 = Nota de débito electrónica\n16 = Nota de crédito electrónica\n46 = Factura exportación electrónica\n47 = Nota de débito de exportación electrónica\n48 = Nota de crédito de exportación electrónica",
                "example": "2"
              },
              "issue_date": {
                "type": "string",
                "format": "date",
                "description": "Document issue date\nFormat: YYYY-MM-DD"
              },
              "document_number": {
                "type": "integer",
                "description": "Allows defining the folio to be used for issuing the document. By default, this field should NOT be used, so the folio is automatically assigned by the sequence."
              },
              "receiver_tax_id_code": {
                "type": "string",
                "description": "Required for invoices, credit notes, debit notes, named receipts, and exempt named receipts, and optional for other documents.\nRUT without dots, with a hyphen\nFormat: NNNNNNNN-X",
                "example": "11111111-1"
              },
              "receiver_legal_name": {
                "type": "string",
                "description": "Required for invoices, credit notes, debit notes, named receipts, and exempt named receipts. Optional for other documents.\nLegal name of the document receiver."
              },
              "receiver_address": {
                "type": "string",
                "description": "Required for invoices, credit notes, debit notes, named receipts, and exempt named receipts. Optional for other documents.\nAddress of the document receiver."
              },
              "receiver_district": {
                "type": "string",
                "description": "Required for invoices, credit notes, debit notes, named receipts, and exempt named receipts. Optional for other documents.\nDistrict of the document receiver."
              },
              "receiver_city": {
                "type": "string",
                "description": "Required for invoices, credit notes, debit notes, named receipts, and exempt named receipts. Optional for other documents.\nCity of the document receiver."
              },
              "receiver_phone": {
                "type": "string",
                "description": "Required for invoices, credit notes, debit notes, named receipts, and exempt named receipts. Optional for other documents.\nPhone of the document receiver."
              },
              "receiver_activity": {
                "type": "string",
                "description": "Required for invoices, credit notes, and debit notes.\nOptional for other documents.\nReceiver activity of the document receiver.\nNamed receipts should NOT include this field."
              },
              "receiver_postalcode": {
                "type": "string",
                "description": "Optional postal code according to the national format."
              },
              "receiver_state_id": {
                "type": "integer",
                "description": "Refers to the recipient's state. Empty if it doesn't apply. This is a required field on some countries, check the examples for your country"
              },
              "receiver_country_id": {
                "type": "integer",
                "description": "Refers to the recipient's country. If not provided, the default is the same country as the issuer. It is mainly used for export documents."
              },
              "payment_conditions": {
                "type": "string",
                "description": "Payment dates separated by commas\n0 = cash\n30 = 30 days\n0,30 = 50% cash, 50% in 30 days\n0,30,60 = 33% cash, 33% in 30 days, 34% in 60 days."
              },
              "receiver_email": {
                "type": "string",
                "description": "Email for document sending."
              },
              "seller_id": {
                "type": "integer",
                "description": "User ID (Koywe) that will be assigned as the seller associated with the document."
              },
              "currency_id": {
                "type": "integer",
                "description": "Only for export documents.\nValid values according to the table in annexes."
              },
              "exchange_rate_value": {
                "type": "integer",
                "description": "Only when currency_id is defined and its value is not Chilean peso."
              },
              "service_indicator": {
                "type": "integer",
                "description": "It is optional to complete for export documents.\nValid values:\n1 = Invoice for periodic household services.\n2 = Invoice for other periodic services.\n3 = Service Invoice\n4 = Hospitality Services\n5 = International Land Transport Service"
              },
              "sale_modality": {
                "type": "integer",
                "description": "Only for export documents: optional.\nValid values:\n1 = Sale agreed\n2 = Under condition\n3 = Free consignment\n4 = Consignment with minimum sale\n9 = No payment"
              },
              "sale_clause": {
                "type": "integer",
                "description": "Only for export documents: optional.\nValid values:\n1 = CIF\n2 = CFR\n3 = EXW\n4 = FAS\n5 = FOB\n6 = S/CL\n9 = DDP\n10 = FCA\n11 = CPT\n12 = CIP\n17 = DAT\n18 = DAP\n8 = Other"
              },
              "guide_type": {
                "type": "integer",
                "description": "Required ONLY for dispatch guides.\n1 = Operation constitutes sale\n2 = Sales to be made\n3 = Consignments\n4 = Free delivery\n5 = Internal transfers\n6 = Other non-sale transfers\n7 = Return guide\n8 = Transfer for export (non-sale)\n9 = Sale for export"
              },
              "transfer_type": {
                "type": "integer",
                "description": "Required ONLY for dispatch guides that are not internal transfers.\n1 = Dispatch on behalf of the recipient\n2 = Dispatch on behalf of the issuer to recipient's facilities\n3 = Dispatch on behalf of the issuer to other facilities"
              },
              "branch_office_code": {
                "type": "string",
                "description": "This field should only be completed for companies that use branches.\nTo issue from the head office, this field should NOT be entered.\nThe code entered must correspond to the 'internal code' entered in Koywe."
              },
              "observations": {
                "type": "string",
                "description": "Enter a observations."
              },
              "deployment_observations": {
                "type": "integer",
                "description": "0 = do not include remark in XML or PDF\n1 = include remark in XML and PDF\n2 = include remark in PDF and do NOT include in XML\n3 = include remark in XML and do NOT include in PDF\nIn all cases, regardless of its display, the remark will be saved in Koywe and will be visible in the document details on facto.cl.\nIf this option is not entered, the default value is considered to be 1, which will display the remark in the XML and PDF."
              },
              "port_disembarkation": {
                "type": "string",
                "description": "Enter a port disembarkation."
              },
              "port_embarkation": {
                "type": "string",
                "description": "Enter a port embarkation."
              },
              "gross_weight": {
                "type": "string",
                "description": "Enter a gross weight."
              },
              "shipping_address": {
                "type": "string",
                "description": "Enter a shipping address."
              },
              "additional": {
                "type": "object",
                "properties": {
                  "mx_shipping": {
                    "type": "object",
                    "properties": {
                      "distance": {
                        "type": "string",
                        "example": "100"
                      },
                      "transport_code": {
                        "type": "string",
                        "example": "01"
                      },
                      "transport_method_name": {
                        "type": "string",
                        "example": "Autotransporte"
                      },
                      "transport_tax_id_type": {
                        "type": "string",
                        "example": "MX-RFC"
                      },
                      "transport_tax_id_code": {
                        "type": "string",
                        "example": "EKU9003173C9"
                      },
                      "transport_license": {
                        "type": "string",
                        "example": "a234567890"
                      },
                      "origin": {
                        "type": "object",
                        "properties": {
                          "tax_id_type": {
                            "type": "string",
                            "example": "MX-RFC"
                          },
                          "tax_id_code": {
                            "type": "string",
                            "example": "EKU9003173C9"
                          },
                          "date_time": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-01-07T00:00:00"
                          },
                          "address_state_id": {
                            "type": "string",
                            "example": "31"
                          },
                          "address_country_id": {
                            "type": "string",
                            "example": "80"
                          },
                          "address_postalcode": {
                            "type": "string",
                            "example": "13250"
                          }
                        }
                      },
                      "destination": {
                        "type": "object",
                        "properties": {
                          "tax_id_type": {
                            "type": "string",
                            "example": "MX-RFC"
                          },
                          "tax_id_code": {
                            "type": "string",
                            "example": "EKU9003173C9"
                          },
                          "date_time": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-01-07T00:00:00"
                          },
                          "address_state_id": {
                            "type": "string",
                            "example": "31"
                          },
                          "address_country_id": {
                            "type": "string",
                            "example": "80"
                          },
                          "address_postalcode": {
                            "type": "string",
                            "example": "13250"
                          }
                        }
                      },
                      "merchandise": {
                        "type": "object",
                        "properties": {
                          "total_weight": {
                            "type": "string",
                            "example": "10"
                          },
                          "sct_permission_code": {
                            "type": "string",
                            "example": "TPAF01"
                          },
                          "sct_permission_number": {
                            "type": "string",
                            "example": "222333444"
                          },
                          "vehicle_configuration": {
                            "type": "string",
                            "example": "VL"
                          },
                          "vehicle_weight": {
                            "type": "string",
                            "example": "1"
                          },
                          "vehicle_license_plate": {
                            "type": "string",
                            "example": "AA22333"
                          },
                          "vehicle_year": {
                            "type": "string",
                            "example": "2020"
                          },
                          "insurance_company": {
                            "type": "string",
                            "example": "PRUEBA SEGUROS"
                          },
                          "insurance_identifier": {
                            "type": "string",
                            "example": "123456"
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "product_code": {
                                  "type": "string",
                                  "example": "11121900"
                                },
                                "description": {
                                  "type": "string",
                                  "example": "Accesorios telefono"
                                },
                                "quantity": {
                                  "type": "string",
                                  "example": "1"
                                },
                                "weight": {
                                  "type": "string",
                                  "example": "10"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "mx_exports": {
                    "type": "object",
                    "properties": {
                      "terms": {
                        "type": "string",
                        "example": "FOB"
                      },
                      "exchange_rate": {
                        "type": "number",
                        "format": "float",
                        "example": 20.6708
                      },
                      "total": {
                        "type": "integer",
                        "example": 1624
                      },
                      "origin": {
                        "type": "object",
                        "properties": {
                          "address_street": {
                            "type": "string",
                            "example": "CALLE DEL PAPEL"
                          },
                          "address_city_id": {
                            "type": "string",
                            "example": "01"
                          },
                          "address_county_id": {
                            "type": "string",
                            "example": "1961"
                          },
                          "address_state_id": {
                            "type": "string",
                            "example": "45"
                          },
                          "address_country_id": {
                            "type": "string",
                            "example": "80"
                          },
                          "address_postalcode": {
                            "type": "string",
                            "example": "76199"
                          }
                        }
                      },
                      "destination": {
                        "type": "object",
                        "properties": {
                          "tax_id_type": {
                            "type": "string",
                            "example": "US-EIN"
                          },
                          "tax_id_code": {
                            "type": "string",
                            "example": "222333444"
                          },
                          "address_street": {
                            "type": "string",
                            "example": "2470 SW 19th"
                          },
                          "address_state_id": {
                            "type": "string",
                            "example": "61"
                          },
                          "address_country_id": {
                            "type": "string",
                            "example": "89"
                          },
                          "address_postalcode": {
                            "type": "string",
                            "example": "00000"
                          }
                        }
                      },
                      "merchandise": {
                        "type": "object",
                        "properties": {
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "customs_code": {
                                  "type": "string",
                                  "example": "2402200100"
                                },
                                "customs_quantity": {
                                  "type": "string",
                                  "example": "117.64"
                                },
                                "sku": {
                                  "type": "string",
                                  "example": "aa111"
                                },
                                "customs_measure_unit": {
                                  "type": "string",
                                  "example": "01"
                                },
                                "customs_unit_value": {
                                  "type": "string",
                                  "example": "13.81"
                                },
                                "customs_total_value": {
                                  "type": "string",
                                  "example": "1624.00"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "pe_header": {
                    "type": "object",
                    "properties": {
                      "operation_type": {
                        "type": "string"
                      },
                      "signature_id": {
                        "type": "string"
                      }
                    }
                  },
                  "pe_retention_header": {
                    "type": "object",
                    "properties": {
                      "pe_sunat_retention_system_code":{
                        "type": "string"
                      },
                      "pe_sunat_retention_percent": {
                        "type": "number"
                      },
                      "pe_sunat_total_paid":{
                        "type": "number"
                      }
                    }
                  },
                  "pe_shipping": {
                    "type": "object",
                    "properties": {
                      "handling_code": {
                        "type": "string"
                      },
                      "special_instructions": {
                        "type": "string"
                      },
                      "handling_instructions": {
                        "type": "string"
                      },
                      "gross_weight_measure": {
                        "type": "string"
                      },
                      "gross_weight_measure_id": {
                        "type": "string"
                      },
                      "shipment_stage": {
                        "type": "object",
                        "properties": {
                          "transport_mode_code": {
                            "type": "string"
                          },
                          "transit_period": {
                            "type": "string"
                          },
                          "driver_person": {
                            "type": "object",
                            "properties": {
                              "driver_id": {
                                "type": "string"
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "family_name": {
                                "type": "string"
                              },
                              "job_title": {
                                "type": "string"
                              },
                              "identity_document_reference": {
                                "type": "string"
                              }
                            }
                          },
                          "carrier_party": {
                            "type": "string"
                          },
                          "party_identification": {
                            "type": "string"
                          },
                          "party_legal_entity_name": {
                            "type": "string"
                          },
                          "party_legal_entity_id": {
                            "type": "string"
                          },
                          "agent_party_id": {
                            "type": "string"
                          }
                        }
                      },
                      "delivery": {
                        "type": "object",
                        "properties": {
                          "delivery_address": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "city_subdivision_name": {
                                "type": "string"
                              },
                              "city_name": {
                                "type": "string"
                              },
                              "country_subentity": {
                                "type": "string"
                              },
                              "district": {
                                "type": "string"
                              },
                              "address_line": {
                                "type": "string"
                              },
                              "country_id": {
                                "type": "string"
                              }
                            }
                          },
                          "dispatch": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "city_subdivision_name": {
                                "type": "string"
                              },
                              "city_name": {
                                "type": "string"
                              },
                              "country_subentity": {
                                "type": "string"
                              },
                              "district": {
                                "type": "string"
                              },
                              "address_line": {
                                "type": "string"
                              },
                              "country_id": {
                                "type": "string"
                              },
                              "dispatch_party_company_id": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "transport_handling_unit": {
                        "type": "object",
                        "properties": {
                          "transport_equipment_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "required": [
              "document_type_id",
              "issue_date",
              "issuer_legalname",
              "issuer_address",
              "issuer_district",
              "issuer_city",
              "issuer_phone",
              "issuer_activity",
              "receiver_legalname",
              "receiver_address",
              "receiver_district",
              "receiver_city",
              "receiver_phone",
              "receiver_activity",
              "status",
              "payment_conditions"
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "number",
                  "format": "float",
                  "description": "Quantity (can have up to 6 decimals, separate with a dot, not with a comma)."
                },
                "line_description": {
                  "type": "string",
                  "description": "Short description to be included in the invoice as line title. Max 100 chars."
                },
                "unit_price": {
                  "type": "number",
                  "format": "float",
                  "description": "Unit price (can have up to 6 decimals, separate with a dot, not with a comma). If using the 'gross_values' option, it must be the value including VAT."
[...]
